
body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 0 auto;
}
.banner {
    color: #ff853f;
    font-size: 90px;
    font-family: sans-serif;
}

#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}
